%span.calendar_views
  %br
  = t('event_map.page.view_as')
  = link_to(t('event_map.map'), eventmap_url(calendar_parameters))
  = t('event_map.or')
  = link_to(t('event_map.calendar'), calendar_url(calendar_parameters)) + "."
  = t('event_map.page.stay_up_to_date')
  = link_to(t('event_map.page.rss'), calendar_url(calendar_parameters.merge(:format => :rss)))
  = t('event_map.or')
  = link_to(t('event_map.page.calendar_feed'), calendar_url(calendar_parameters.merge(:format => :ics, :protocol => 'webcal://', :only_path => false)))
  