- if venue
  - if events = events_at_venue(venue)
    .map_venue
      - if events.length == 1
        = render :partial => 'event', :object => events.first
      - else
        %h3
          = t('event_map.page.events_at')
          = link_to venue.title, venue.url
        %ul
          - remainder = events.slice!(4, 10000)
          - events.each do |event|
            %li
              - if event.url
                = link_to event.title, event.url, :class => 'event'
              - else
                %span.event
                  = event.title
              = t('event_map.onn')
              = event.date
          - if remainder && remainder.any?
            %li
              = t('event_map.and')
              = remainder.length
              = t('event_map.page.more_events')
          